<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Agri Business</title>
    <link rel="icon" href="/static/images/agribusiness-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    
</head>
<body>
    <header>
        <div class="logo-nav">
            <div class="image">
                <img src="/static/images/agribusiness-logo.png" alt="logo">
            </div>
            <div>
                <nav class="nav-bars">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="heading">Welcome to Online Agri Store</div>
        <div class="slogan">Explore now for fresh products</div>
    </main>
</body>
</html>